@font-face {
    font-family: "Kanit";
    src: url(../fonts/kanit-regular.otf);

}
body{
    font-family: "Kanit";


background-color: aliceblue;}
.wrapper{background: linear-gradient(252.81deg, #47A6DC -40.48%, rgba(27, 32, 30, 0.86) 102.84%); width: 1280px;
 }

h2{margin: 5% 0 0 0;
    color: white;
}
.col{display: grid;
    grid-template-columns: repeat(30,42.6px);
    grid-template-rows: repeat(9,76px);
    background-image: url(../img/Rectangle\ 4.svg);
    background-repeat: no-repeat;
}
.dev{
    grid-column-start: 5;
    grid-column-end: 13;
    grid-row-start: 3;
    color: white;
}
h1{font-size: 37px;}
h2{text-align: center;}
p{font-size: 18px;}
.img{display: grid;
    gap: 10px ;
    grid-column-start: 5;
    grid-row-end: -2;
    grid-column-end: 7;
 }
.img3{ grid-column-end: 4;
}
.wrapform{ display: grid;
    grid-column-start: 19;
    grid-column-end:-6;
    grid-row-start: 2;
    grid-row-end: -2;
    background: radial-gradient(97.61% 55.99% at 50.15% 44.01%, rgba(22, 81, 123, 0.69) 0%, #1E1A36 100%);
    border-radius: 19px;
   margin-bottom: 38px;

}

form{ padding-left: 23px;
    padding-right: 23px;
    display: grid;
}
input{
    display: grid;
    border-radius: 6px;
    height: 35px;
    background-color: #DFDADA;
    border: none;

}
.checkbox{
  width: 8px;
}
.checkboxlabel{font-size: 9px;
  width: 150px;
 
}

.span2{ grid-column-start: 20;
       padding-top: 15px;}

label{
    display: grid;
color: white;
font-size: 12px;
}

.labelform{padding-top: 15px;
  }

button{
    font-family: "Kanit";
    display: grid;
    grid-row-start: 8;
    width: 131px;
    margin-left: 58px;
    height: 35px;
    font-size: 15px;
    border-radius:6px;
    border: transparent;
    text-transform: uppercase;
}

button>div{padding-left: 10%;}
button>div>img{display: grid;
    padding-top: 5px;
   }
button>div>span{display: grid;
   margin-top: -23px;}